body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f2e9;
}

#content {
    width:75%;
    margin:auto;
    background-color: #f2f0d5;
    border: 2px solid #5e878c;
}

#main-header {
    text-align: center;
}

#title-header {
    color:#5e878c;
}

#main-nav {
    width:100%;
}

#main-nav a {
    display:block;
    padding:10px 0;
    text-decoration: none;
    color:white;
}

#main-nav ul {
    margin:0 0 5px 0;
    padding:0;
    list-style: none;
}

#main-nav li {
    background-color: #d98282;
    border: 1px solid #5e878c;
}

#copyright {
    background-color: #d98282;
    text-align: center;
}

#sidebar {
    background-color: #e8b4b4;
    text-align: center;
}

#sidebar-title {
    color:#5e878c;
    margin:15px 0;
}

#sidebar-nav ul {
    margin:0;
    padding:0 5px 20px;
    list-style:none;
}

#sidebar-nav li {
    background-color: white;
    width:100%;
    border: 1px solid #e8b4b4;
}

#sidebar-nav a {
    text-decoration:none;
    color:#e8b4b4;
}

.title-card {
    background-color: #5d878c;
    text-align: center;
}

.article-titles {
    margin:0;
    padding:10px 0;
    color:white;
}

.title-card img {
    display:block;
    width:100%;
    height:auto;
}

.idea-row {
    background-color: #5d878c;
    margin-top:10px;
    margin-bottom:10px;
}

.idea-text {
    color:white;
}

#copyright p {
    margin:0;
    padding: 10px;
    color:white;
}




/* Responsive Design */
@media (min-width: 1000px) {
    #top-row {
        display:flex;
    }

    #columns {
        display:flex;
    }

    #main-nav li {
        flex:1;
        padding: 5px 10px;
    }

    #sidebar {
        flex:1;
        margin-top: 10px;
    }

    .title-card {
        margin: 10px;
        margin-bottom: 0;
        margin-right: 0;
    }

    #title-section {
        display:flex;
        flex:6;
    }

    .title-card {
        flex:1;
        min-width:0;
    }

    .idea-row {
        display:flex;
    }

    .idea-row img {
        flex:1;
        width:0;
        min-height: 0;
        height:auto;
    }

    .idea-text {
        flex:3;
        padding:10px;
    }
}

@media (max-width: 999px){
    .article-titles {
        padding-top:15px;
    }

    .title-card {
        margin-top:10px;
    }

    .idea-row img {
        display:block;
        max-width:auto;
        margin: 0 auto;
    }
}