                                /*Structural */
body {
    background-color:#f2f0e8;
}


                                /* Header */
#intro-header {
    position:relative;
    text-align:center;
    padding-top:20px;
}

#assignment-heading {
    color:#4d8795;
    padding:0;
    margin:0;
}

#statement-heading {
    color:#dd8790;
    margin:25px 0;
}


                                /* Exercise Nav */
#exercise-nav {
    position:relative;
}

#exercise-nav ul {
    display:flex;
    justify-content:center;
    list-style-type:none;
    padding-left:0;
    margin:0;
}

#exercise-nav li {
    background-color:transparent;
    border:0;
    padding:0;
    text-align:center;
}

#exercise-nav li:not(:last-child)::after {
    content:"|";
    color:#4d8795;
    display:inline-block;
    width:30px;
    text-align:center;
}

#exercise-nav a {
    color:#4d8795;
    font-size:20px;
    text-decoration:none;
}

#exercise-nav a:hover {
    cursor:pointer;
    color:#dd8790;
}

#toggle-nav {
    display:none;
    color:#4d8795;
    font-size:22px;
    text-align:left;
    padding:0 15px 8px;
    cursor:pointer;
}


                                /* Phone Screen */
@media (max-width:1000px) {
    #exercise-nav ul {
        display:block;
    }

    #exercise-nav li {
        padding:8px 0;
    }

    #exercise-nav li:not(:last-child)::after {
        content:"";
    }

    #toggle-nav {
        display:block;
    }

    #exercise-nav ul.hide-small {
        display:none;
    }
}