body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}



                                    /* Black Header */
#black-header {
    background-color:black;
    padding-left:30px;
}

                                     /* Red Header */


                                     /* Utility Nav */
#utility-nav a {
    font-family: Impact, 'Arial Narrow', sans-serif;
    color:white;
    text-decoration:none;
    font-size:12px;
}

#utility-nav ul {
    margin:0;
    padding:0;
    list-style: none;
}

#utility-nav li {
    padding:10px 10px 10px 0;
}

#utility-nav li:not(:last-child)::after {
    content:"|";
    color:white;
    margin-left:10px;
}

                                    /* Main Header */
#main-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family:Georgia, 'Times New Roman', serif;
    padding-bottom:15px;
}

#page-title {
    margin-right: 40px;
    color:white;
    font-size:30px;
}

                                    /* USC Brand */
#usc-brand {
    padding-top:10px;
}

#brand-text {
    padding-left:10px;
}

#usc-brand a {
    text-decoration:none;
    display:flex;
}

#usc-brand p {
    margin:0;
    color:white;
}

#university-of {
    font-size:13px;
    text-transform: uppercase;
}

#south-carolina {
    font-size:30px;
}

                                    /* Link Columns */
.link-columns {
    display:flex;
}

                                    /* Red Header */
#red-header {
    background-color: #75000A;
}

                                    /* Red Nav */
#red-nav ul {
    list-style:none;
    margin:0;
    justify-content:flex-end;
}

#red-nav li {
    padding:15px 80px 15px 0;
    text-transform: uppercase;
}

#red-nav a {
    color:white;
    text-decoration:none;
    font-size:18px;
    font-family: Impact, 'Arial Narrow', sans-serif;
}

                                    /* Hero */
#hero {
    position:relative;
}

main, #hero, #hero-image {
    margin:0;
    padding:0;
}

#hero-image {
    display:block;
    width:100%;
    height:550px;
    object-fit:cover;
}

#health-needs-text {
    width:60%;
    margin:auto;
    padding:60px 0;
    font-weight:bold;
    line-height:1.8;
}

#health-needs-text p {
    margin:0;
    font-size:20px;;
}

                                    /* Feature Sections */
.feature-section {
    position:relative;
}

.feature-image {
    display:block;
    width:100%;
    height:525px;
    object-fit:cover;
}

.feature-box {
    position:absolute;
    bottom:-40px;
    width:60%;
    padding:35px 40px;
    box-sizing:border-box;
    background-color: #75000A;
    color:white;
    box-shadow:0 10px 15px rgba(0, 0, 0, 0.25);
}

.feature-section .feature-box {
    left:4.5%;
}

.feature-title {
    margin:0 0 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:45px;
}

.feature-description {
    margin:0 0 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    line-height:1.8;
}

.feature-button {
    display:inline-block;
    background-color:black;
    border:2px solid white;
    text-align:center;
}

.feature-button a {
    display:block;
    padding:15px 35px;
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    font-family:Impact, 'Arial Narrow', sans-serif;
}

                                    /* Education Box */
#education-box {
    right:5%;
}

                                    /* Institute Box */
#institute-box {
    width:47%;
}


                                    /* Sarah Portion */
#sarah {
    display:flex;
    align-items:center;
    gap:80px;
    padding:140px 7% 100px;
}

#sarah-image {
    width:32%;
    border-radius:50%;
}

#sarah-quote {
    position:relative;
    width:60%;
}

#quote-text {
    margin:0;
    color:#75000A;
    font-family: Georgia, 'Times New Roman', serif;
    font-size:22px;
    font-weight:bold;
    line-height: 1.8;
}

#quote-author {
    margin-top:30px;
    font-size:15px;;
    font-weight:bold;
    color:#37383F;
}

#quote-text, #quote-author {
    position:relative;
    z-index:1;
}

#opening-quote, #closing-quote {
    position:absolute;
    color:#d9d9d9;
    opacity:0.90;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 150px;
    font-weight: bold;
    line-height: 1;
    z-index:0;
}

#opening-quote {
    top:-35px;
    left:-35px;
}

#closing-quote {
    right:-25px;
    bottom:-30px;
}

                                    /* Middle Links */
#middle-links {
    display:flex;
    gap:60px;
    padding:140px 4% 80px;
}

.link-card {
    flex:1;
}

.link-card-image {
    display:block;
    width:100%;
    height:375px;
    object-fit:cover;
}

.link-card-title {
    margin:20px 0 25px;
    font-size:22px;
}

.link-card-title a {
    color:#75000A;
    text-decoration:none;
}

.link-card-text {
    margin:0;
    font-size:15px;
    line-height:1.8;
}

.link-card-title, .link-card-text {
    margin-left:15px;
    margin-right:15px;
}

                                    /* Stay Connected */
#stay-connected {
    margin-top:75px;
    padding:70px 5% 120px;
    background-color:#EDEDED;
    text-align:center;
}

#stay-connected h2 {
    margin: 0 0 35px;
    color:#75000A;
    font-size:65px;
    font-weight: bold;
}

#stay-connected p {
    margin: 0 0 55px;
    font-size:18px;
}

#connected-links {
    display:flex;
    justify-content: center;
    gap:45px;
}

.connected-button {
    display:inline-block;
    width:200px;
    padding:10px;
    box-sizing:border-box;
    background-color: #75000A;
    border:2px solid white;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    font-family:Impact, 'Arial Narrow', sans-serif;
    font-size:17px;
}

                                    /* White Footer */
#white-footer {
    background-color: #EDEDED;
}

                                    /* Media Queries */
@media (max-width:1000px) {
    #utility-nav, #red-header {
        display:none;
    }

    #black-header {
        padding:0 33px;
    }

    #main-header {
        flex-wrap:wrap;
        padding: 20px 0 18px;
    }

    #usc-brand {
        padding-top:0;
    }

    #page-title {
        width:100%;
        margin: 30px 0 0;
        font-size:22px;
    }

    #university-of {
        font-size:10px;
    }

    #south-carolina {
        font-size:22px;
    }

    #health-needs-text {
        width:80%;
    }

    #health-needs-text p {
        font-size:25px;
    }

    .feature-box {
        position:relative;
        width:96%;
        margin:-80px auto 0;
        padding:35px 48px;
        left:auto;
        right:auto;
        bottom:auto;
    }

    #hero-image, .feature-image {
        height:400px;
    }

    .feature-title {
        font-size:45px;
    }

    #education-box {
        right:auto;
    }

    .feature-section .feature-box {
        left:auto;
    }

    #sarah {
        flex-direction:column;
        gap:45px;
        padding:100px 12% 80px;
    }

    #sarah-image {
        width:70%;
    }

    #sarah-quote {
        width:100%;
    }

    #quote-text {
        font-size:20px;
    }

    #quote-author {
        font-size:12px;
    }

    #opening-quote {
        top:-35px;
        left:-35px;
    }

    #closing-quote {
        right:-20px;
        bottom:-30px;
    }

    #middle-links {
        flex-direction: column;
        gap:60px;
        padding:120px 10% 80px;
    }

    .link-card {
        width:100%;
    }

    .link-card-image {
        height:400px;
    }

    #institute-box {
        width:96%;
    }

    #stay-connected {
        padding:70px 10%;
    }

    #stay-connected h2 {
        font-size:35px;
    }

    #stay-connected p {
        margin-bottom:50px;
        font-size:15px;
    }

    #connected-links {
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        gap:60px 35px;
    }

    .connected-button {
        width:auto;
        min-width:0;
    }
}