/* Structural */

body {
    background:url(images/paw-prints.jpg);
    background-size:cover;
}

#content {
    width:75%;
    margin:auto;
    padding:10px;
}

h1 {
    text-align:center;
}


/* Navigation */


/* Typography */