                                   /* Homepage */
                                   /* Color variables */
:root {
    --homepage-bacgkround: #1c1612;;
    --heading-text-color: #f3e5c8;
    --text-color: #d7c6a6;
    --accent-text-color: #d98b52;
    --nav-text-color: #e5b96f;
    --divider-color: #e8ad5c;
    --hero-fade-color: #32100d;
    --hero-card-background: #452b24;
    --steps-background-left: #4d211b;
    --steps-background-right: #5e3427;
    --steps-card-background: #241a16;

    /* Ironclad Colors */
    --ironclad-relic-section-background: #15110e;
    --ironclad-relic-card-background: #40120f;
    --relic-card-border: #eb8f40;

    /* Silent Colors */
    --silent-background: #0c170e;
    --silent-header-background: #11200f;
    --silent-section-background: #0c170e;
    --silent-deck-footer-background: #172a13;
    --silent-heading-text-color: #e1f5b8;
    --silent-text-color: #99c2ad;
    --silent-accent-text-color: #a3db4d;
    --silent-relic-card-background: #173911;
    --silent-relic-card-border: #eb8f40;
    --silent-footer-border: #8c5738;

    /*Defect Colors */
    --defect-background: #060e1b;
    --defect-header-background: #091a33;
    --defect-deck-footer-background: #0e213b;
    --defect-heading-text-color: #dbf5ff;
    --defect-text-color: #99ccf0;
    --defect-accent-text-color: #59c7ff;
    --defect-relic-card-background: #0e2e52;

    /* Watcher Colors */
    --watcher-background: #170921;
    --watcher-header-background: #2b0b40;
    --watcher-deck-footer-background: #2b0e40;
    --watcher-heading-text-color: #faebff;
    --watcher-text-color: #e0b8ff;
    --watcher-accent-text-color: #f28feb;
    --watcher-relic-card-background: #33124d;
}

                                    /* Structural */
body {
    background-color: var(--homepage-bacgkround);
    font-family: Cambria, 'Times New Roman', serif;
    margin:0;
}

                                    /* Header */
#intro-header {
    display: flex;
    padding:0; 
}

#site-title {
    color: var(--heading-text-color);
    margin:0;
    padding: 15px 0px 10px 60px;
    text-transform: uppercase;
}

                                    /* Nav Links */
.nav-links {
    margin-left: auto;
    margin-right: 130px;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    padding: 20px 0 0 40px;
}

.nav-links a {
    text-decoration: none;
    color: var(--nav-text-color);
    font-size: 18px;
}

                                    /* Hero */
#hero-section {
    border: 4px solid var(--divider-color);
    background-image: linear-gradient(to right, var(--hero-fade-color), transparent), url("images/hero-image.png");
    background-size:cover;
    min-height:700px;
}

#hero-heading {
    color: var(--heading-text-color);
    font-size: 80px;
    text-transform: uppercase;
    padding: 140px 0 0 60px;
    margin: 0;
}

#hero-text {
    color: var(--text-color);
    font-size: 25px;
    padding-left:60px;
    margin: 0;
}

                                    /* Choose Section */
#choose-section {
    border: 4px solid var(--divider-color);
}

#choose-heading {
    color: var(--heading-text-color);
    font-size: 50px;
    text-transform: uppercase;
    max-width: 1100px;
    margin: 0 auto;
    padding: 90px 0 30px;
}

#hero-card-section {
    display: flex;
    justify-content: center;
    gap: 25px;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom:60px;
}

.hero-card {
    background-color: var(--hero-card-background);
    width: 200px;
    flex-shrink: 0;
    min-height: 320px;
    padding: 20px;
    border: 1px solid #8b573d;
    border-radius: 18px;
}

#ironclad-color {
    background-color: #b13e38;
}

#silent-color {
    background-color: #4d8056;
}

#defect-color {
    background-color: #537aa1;
}

#watcher-color {
    background-color: #9a4b9e;
}

.hero-card-color {
    height: 165px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 18px;
}

.hero-card-image {
    width: 100%;
    height: 145px;
    object-fit: cover;
    display: block;
}

.hero-card-title {
    color: var(--heading-text-color);
    font-size: 24px;
    text-transform: uppercase;
    margin: 15px 0 25px;
}

.hero-card-text {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 0 0 20px;
}

.hero-card-emoji {
    font-size: 25px;
    margin: 0 0 20px;
    text-align: center;
}

.hero-card-link {
    text-decoration: none;
    color: var(--accent-text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

                                    /* Steps Section */
#steps-section {
    border: 4px solid var(--divider-color);
    background-image: linear-gradient(to bottom right, var(--steps-background-left), var(--steps-background-right));
    min-height: 300px;
    padding: 80px 0;
}

#steps-heading {
    color: var(--heading-text-color);
    font-size: 40px;
    text-transform: uppercase;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 20px;
}

#steps-card-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.steps-card {
    background-color: var(--steps-card-background);
    width: 280px;
    min-height: 150px;
    padding: 30px;
    border-radius: 18px;
}

.steps-number {
    color: var(--accent-text-color);
    font-size: 30px;
    margin: 0 0 15px;
}

.steps-card-title {
    color: var(--heading-text-color);
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.steps-card-text {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}

                                    /* Home Footer */
#home-footer {
    display: flex;
    align-items: center;
    padding: 50px 80px;
}

#footer-info {
    width: 45%;
}

#footer-title {
    color: var(--heading-text-color);
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 20px;
}

#footer-text {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}

#footer-copyright {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 25px 0 0;
}


                                    /* Character Screen Classes */
.character-screen-header {
    display: flex;
    padding:0;
}

.character-screen-site-title {
    color: var(--heading-text-color);
    margin:0;
    padding: 15px 0px 10px 60px;
    text-transform: uppercase;
}

.character-screen-hero {
    border: 4px solid var(--divider-color);
    background-size: cover;
    background-position: center;
    min-height: 570px;
}

.character-screen-hero-title {
    font-size: 90px;
    text-transform: uppercase;
    padding: 125px 0 0 60px;
    margin: 0;
}

.character-screen-hero-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    width: 485px;
    padding-left: 60px;
    margin: 15px 0 0;
}

.character-screen-starting-health, .character-screen-starting-relic {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 60px;
}

                                    /* Character Screen Relic Section */
.character-screen-relic-section {
    border: 4px solid var(--divider-color);
    padding: 50px 0 90px;
}

.character-screen-relic-heading {
    font-size: 36px;
    text-transform: uppercase;
    max-width: 980px;
    margin: 0 auto;
}

.character-screen-relic-subheading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    max-width: 980px;
    margin: 10px auto 20px;
}

.character-screen-relic-card-section {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 980px;
    margin: 0 auto;
}

.character-screen-relic-card {
    box-sizing: border-box;
    width: 220px;
    min-height: 230px;
    padding: 12px;
    border: 1px solid var(--relic-card-border);
    border-radius: 18px;
}

.character-screen-relic-image {
    width: 82px;
    height: 82px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.character-screen-relic-name {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 12px 0;
}

.character-screen-relic-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

                                    /* Ironclad Screen */
                                    /* Ironclad Header */
#ironclad-header .character-screen-site-title {
    color: var(--heading-text-color);
}

#ironclad-header .nav-links a {
    color: var(--text-color);
}

                                    /* Ironclad Hero */
#ironclad-hero {
   background-image: linear-gradient(to right, rgba(50, 16, 13, 0.85) 0%, rgba(50, 16, 13, 0.85) 44%, transparent 44%), url("images/ironclad-hero-image.png");
}

#ironclad-hero .character-screen-hero-title {
    color: var(--heading-text-color);
}

#ironclad-hero .character-screen-hero-description, #ironclad-hero .character-screen-starting-health, #ironclad-hero .character-screen-starting-relic {
    color: var(--text-color);
}

                                    /* Ironclad Relic Section */
#ironclad-relic-section {
    background-color: var(--ironclad-relic-section-background);
}

#ironclad-relic-section .character-screen-relic-heading {
    color: var(--heading-text-color);
}

#ironclad-relic-section .character-screen-relic-subheading {
    color: var(--accent-text-color);
}

.ironclad-relic-card {
    background-color: var(--ironclad-relic-card-background);
}

.ironclad-relic-card .character-screen-relic-name {
    color: var(--heading-text-color);
}

.ironclad-relic-card .character-screen-relic-description {
    color: var(--text-color);
}                                    

                                    /* Silent Screen */
                                    /* Silent Header */
#silent-header {
    background-color: var(--silent-header-background);
}

#silent-header .character-screen-site-title {
    color: var(--silent-heading-text-color);
}

#silent-header .nav-links a {
    color: var(--silent-text-color);
}

                                    /* Silent Hero */
#silent-hero {
    background-image: linear-gradient(to right, rgba(12, 23, 14, 0.85) 0%, rgba(12, 23, 14, 0.85) 44%, transparent 44%), url("images/silent-hero-image.png");
}

#silent-hero .character-screen-hero-title {
    color: var(--silent-heading-text-color);
}

#silent-hero .character-screen-hero-description, #silent-hero .character-screen-starting-health, #silent-hero .character-screen-starting-relic {
    color: var(--silent-text-color);
}

                                    /* Silent Relic Section */
#silent-relic-section {
    background-color: var(--silent-section-background);
}

#silent-relic-section .character-screen-relic-heading {
    color: var(--silent-heading-text-color);
}

#silent-relic-section .character-screen-relic-subheading {
    color: var(--silent-accent-text-color);
}

.silent-relic-card {
    background-color: var(--silent-relic-card-background);
    border-color: var(--silent-relic-card-border);
}

.silent-relic-card .character-screen-relic-name {
    color: var(--silent-heading-text-color);
}

.silent-relic-card .character-screen-relic-description {
    color: var(--silent-text-color);
}

                                    /* Defect Screen */
                                    /* Defect Header */
#defect-header {
    background-color: var(--defect-header-background);
}

#defect-header .character-screen-site-title {
    color: var(--defect-heading-text-color);
}

#defect-header .nav-links a {
    color: var(--defect-text-color);
}

                                    /* Defect Hero */
#defect-hero {
    background-image: linear-gradient(to right, rgba(9, 26, 51, 0.85) 0%, rgba(9, 26, 51, 0.85) 44%, transparent 44%), url("images/defect-hero-image.png");
}

#defect-hero .character-screen-hero-title {
    color: var(--defect-heading-text-color);
}

#defect-hero .character-screen-hero-description, #defect-hero .character-screen-starting-health, #defect-hero .character-screen-starting-relic {
    color: var(--defect-text-color);
}

                                    /* Defect Relic Section */
#defect-relic-section {
    background-color: var(--defect-background);
}

#defect-relic-section .character-screen-relic-heading {
    color: var(--defect-heading-text-color);
}

#defect-relic-section .character-screen-relic-subheading {
    color: var(--defect-accent-text-color);
}

.defect-relic-card {
    background-color: var(--defect-relic-card-background);
}

.defect-relic-card .character-screen-relic-name {
    color: var(--defect-heading-text-color);
}

.defect-relic-card .character-screen-relic-description {
    color: var(--defect-text-color);
}


                                    /* Watcher Screen */
                                    /* Watcher Header */
#watcher-header {
    background-color: var(--watcher-header-background);
}

#watcher-header .character-screen-site-title {
    color: var(--watcher-heading-text-color);
}

#watcher-header .nav-links a {
    color: var(--watcher-text-color);
}

                                    /* Watcher Hero */
#watcher-hero {
    background-image: linear-gradient(to right, rgba(23, 9, 33, 0.85) 0%, rgba(23, 9, 33, 0.85) 44%, transparent 44%), url("images/watcher-hero-image.png");
}

#watcher-hero .character-screen-hero-title {
    color: var(--watcher-heading-text-color);
}

#watcher-hero .character-screen-hero-description, #watcher-hero .character-screen-starting-health, #watcher-hero .character-screen-starting-relic {
    color: var(--watcher-text-color);
}

                                    /* Watcher Relic Section */
#watcher-relic-section {
    background-color: var(--watcher-background);
}

#watcher-relic-section .character-screen-relic-heading {
    color: var(--watcher-heading-text-color);
}

#watcher-relic-section .character-screen-relic-subheading {
    color: var(--watcher-accent-text-color);
}

.watcher-relic-card {
    background-color: var(--watcher-relic-card-background);
}

.watcher-relic-card .character-screen-relic-name {
    color: var(--watcher-heading-text-color);
}

.watcher-relic-card .character-screen-relic-description {
    color: var(--watcher-text-color);
}                                    


                                    /* Media Query */
@media (max-width: 1000px) {
    #intro-header {
        flex-direction: column;
    }

    #site-title {
        text-align: center;
        padding: 15px 0 10px;
    }

    .nav-links {
        margin: 0 auto;
    }

    .nav-links ul {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .nav-links li {
        padding: 20px 20px 0;
    }

    #hero-section {
        min-height: 500px;
        background-position: center;
    }

    #hero-heading {
        font-size: 50px;
        text-align: center;
        padding: 60px 20px 0;
    }

    #hero-text {
        font-size: 20px;
        text-align: center;
        padding: 15px 20px 0;
    }

    #choose-heading {
        font-size: 38px;
        text-align: center;
        padding: 50px 20px 25px;
    }

    #hero-card-section {
        flex-wrap: wrap;
        gap: 20px;
        padding: 0 20px 40px;
    }

    .hero-card {
        box-sizing: border-box;
        width: 100%;
    }

    .hero-card-color {
        justify-content: center;
    }

    .hero-card-image {
        border-radius: 18px;
    }

    #steps-section {
        min-height: 0;
        padding: 50px 20px;
    }

    #steps-heading {
        font-size: 38px;
        text-align: center;
        padding-bottom: 25px;
    }

    #steps-card-section {
        flex-wrap: wrap;
        gap: 20px;
    }

    .steps-card {
        box-sizing: border-box;
        width: 100%;
    }

    #home-footer {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
    }

    #footer-info {
        width: 100%;
    }

    #home-footer .nav-links {
        margin: 30px auto 0;
    }

    .character-screen-header {
        flex-direction: column;
    }

    .character-screen-site-title {
        text-align: center;
        padding: 15px 0 10px;
    }

    .character-screen-header .nav-links {
        margin: 0 auto;
    }

    .character-screen-hero {
        min-height: 600px;
        background-position: center;
    }

    .character-screen-hero-title {
        font-size: 50px;
        padding: 65px 20px 0;
    }

    .character-screen-hero-description {
        box-sizing: border-box;
        width: 100%;
        font-size: 20px;
        padding: 0 20px;
        margin: 15px 0 0;
    }

    .character-screen-starting-health, .character-screen-starting-relic {
        font-size: 18px;
        padding-left: 20px;
    }

    #ironclad-hero {
        background-image: linear-gradient(to right, rgba(50, 16, 13, 0.8), rgba(50, 16, 13, 0.5)), url("images/ironclad-hero-image.png");
        background-position: 65% center;
    }

    #silent-hero {
        background-image: linear-gradient(to right, rgba(12, 23, 14, 0.8), rgba(12, 23, 14, 0.5)), url("images/silent-hero-image.png");
        background-position: 90% center;
    }

    #defect-hero {
        background-image: linear-gradient(to right, rgba(9, 26, 51, 0.8), rgba(9, 26, 51, 0.5)), url("images/defect-hero-image.png");
        background-position: 80% center;
    }

    #watcher-hero {
        background-image: linear-gradient(to right, rgba(23, 9, 33, 0.8), rgba(23, 9, 33, 0.5)), url("images/watcher-hero-image.png");
        background-position: 60% center;
    }

    .character-screen-relic-section {
        padding: 50px 20px;
    }

    .character-screen-relic-heading {
        font-size: 32px;
        text-align: center;
    }

    .character-screen-relic-subheading {
        text-align: center;
        margin: 10px auto 25px;
    }

    .character-screen-relic-card-section {
        gap: 20px;
    }

    .character-screen-relic-card {
        width: 100%;
        min-height: 0;
        padding: 20px;
    }

    .character-screen-relic-name {
        font-size: 22px;
    }

    .character-screen-relic-description {
        font-size: 16px;
    }
}